.App {
  text-align: center;
}


.jumbotron{
  background-color: red;
  color: white;
}

.btn-group{
  width: 10px;
}
.color{
  background-color: coral;
}
.btn{
  text-align: right;
  display: flex;
  justify-content: flex-end;
}